.sidemenu {
  flex: 1;
  position: sticky;
  background-color: rgb(255, 249, 255);
  height: calc(100vh - 50px);
  top: 50px;
}

.menuitems {
  list-style: none;
  padding: 5px;
}
.item {
  align-items: center;
  padding: 5px;
  cursor: pointer;
  display: flex;
  margin-top: 3px;
  margin-bottom: 3px;
}
.link {
  text-decoration: none;
  color: black;
}
.item:hover {
  background-color: rgb(236, 222, 236);
}
.item:active {
  background-color: rgb(201, 157, 201);
}

.icon {
  margin-right: 8px;
}
